---
title: GitLab with Git Basics Training
suppress_header: true
description: "GitLab with Git Basics Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_basics" }
    .row
      .col-md-12
        %h2 Target Audiences 
        %p Any team member new to Git and GitLab
        %h2 What’s Included
        %ul
          %li Live training sessions delivered by a GitLab technical trainer
          %li Lecture with demonstrations
          %li Hands-on Labs
          %li Slides with notes and reference links
        %h2 Learning Objectives
        %ul
          %li What GitLab is and why teams use it
          %li Basic Git commands for branching, merging, and remote work
          %li How to use GitLab within the DevOps lifecycle
        %h2 Course Agenda
        .row
          .col-md-8.col-md-offset-1
            %table
              %thead
                %tr
                  %th Timeframe
                  %th Topic
              %tbody
                %tr
                  %td Morning
                  %td 
                    %ul
                      %li GitLab Overview
                      %li Git Overview
                      %li Demo and Labs: Using Git
                %tr
                  %td Afternoon
                  %td 
                    %ul
                      %li Demo and Labs: Using GitLab
        %h2 Prerequisite Knowledge and Skills
        %p Attendees should already be familiar at a basic knowledge level with the following concepts:
        %ul
          %li Agile development
          %li Source code management
        %p Here are some resources to help you prepare:
        %ul
          %li.services-text
            %a{href: 'https://www.youtube.com/watch?v=j16QHjv29A0'} Why you should move to Git
        %h2 System Requirements
        %p 
          Laptop with internet access and git installed, per the requirements specified 
          %a{href: "/services/education/prereq", target: "_blank"} here
        %h2 Pricing
        .row
          .col-md-6
            %h3 Public Delivery
            %p $300 per person
          .col-md-6
            %h3 Private Delivery
            %h4 Base Price 
            %p $5,000 for up to 20 attendees per day, for standard non-customized live training
        %h4 Live Location Options Pricing
        %ul
          %li Remote: No additional cost
          %li At your site: Travel expenses for each instructor
          %li At a GitLab-hosted facility: $2,000 plus travel expenses for each instructor
        %h2 Customization
        %p This course can be customized. Pricing will be based on the scope of customization you need.
        


